<!DOCTYPE html>
<html>
<head>
    <title>顧客註冊</title>
</head>
<body>
    <h1>顧客註冊</h1>
    <form action="{{ url_for('customers.register') }}" method="post">
        帳號：<input type="text" name="username" required><br>
        密碼：<input type="password" name="password" required><br>
        確認密碼：<input type="password" name="confirm_password" required><br>
        姓名：<input type="text" name="name" required><br>
        電話：<input type="text" name="phone" required><br>
        電子郵件：<input type="email" name="email" required><br>
        <input type="submit" value="註冊">
    </form>
    <p>已經有帳號？<a href="{{ url_for('customers.login') }}">登入</a></p>
</body>
</html>
